/*classes*/
.bckgrd{
	height: auto;
	position: relative;
	background-color: rgba(127,10,10,0.5);
	width: 30%;
	margin: 0 auto;
}

.isi{
	background-color: rgba(127,14,14,0.7);
	width: 50%;
	margin: 0 auto;
}

.box{
	width: 100%;
}

/*elements*/
body{
	margin: 0 auto;
	color: white;
	font-size: 18px;
	background-image: url(https://static.wikia.nocookie.net/amogus/images/c/cb/Susremaster.png/revision/latest?cb=20210806124552);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
label{
	display: block;
}

textarea{
	width: 100%;
}

input, textarea{
	background-color: rgba(127,14,14,0.9);
	color: rgb(178,128,128);
}

input[type="checkbox"]{
	accent-color: rgba(127,14,14,0.9);
}

fieldset{
	border: none;
	border-bottom: 5px solid rgb(127,14,14);
}

fieldset:last-of-type{
	border-bottom: none;
}

h1, p{
	text-align: center;
	color: white;
	text-shadow: 2px 2px 0 black;
	line-height: 0.5;
	padding-bottom: 5px;
	padding-top: 5px;
}